<div class="mb-3 mt-3">
  <h3>Inactive Users</h3>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let user of users; let i = index">
      {{ user }} | <a href="#" (click)="onSetToActive(i)">Set to Active</a>
    </li>
  </ul>
</div>
